<div class="flex gap-2 mb-8 items-end scale-125">
    <svg
        fill="none" 
        viewBox="0 0 24 24" 
        stroke-width="1.5"
        class="w-10 h-16 bg-yellow-300 stroke-neutral-950 stroke-[2.2]"
    >
        <path 
            stroke-linecap="round" 
            stroke-linejoin="round"
            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            class="bg-black translate-y-2"
        />
    </svg>
    <h1 class="text-3xl font-semibold">TodoList <span class="text-yellow-300 font-normal italic">app</span></h1>
</div>