<div class="w-full p-8 m-2 shadow-lg bg-white rounded-lg mx-auto md:min-w-[480px] w-full sm:min-w-auto">
    <ul *ngIf="tasks.length" class="flex flex-col gap-4">
        <li *ngFor="let task of tasks; index as index" class="py-4 px-6  bg-neutral-100 rounded-md font-bold flex items-center justify-between gap-4">
            <div class="flex gap-4 items-center w-full">
                <input (click)="toggleTaskStatus(index)" type="checkbox" [(ngModel)]="task.completed" [checked]="task.completed" class="scale-150 cursor-pointer checked:bg-yellow-500 outline-none focus:outline-none">
                <input *ngIf="task.completed === false" (keyup)="updateTask(index, task.title)" type="text" [(ngModel)]="task.title" class="bg-white border-none text-neutral-700 w-full">
                <input *ngIf="task.completed === true" disabled type="text" [value]="task.title" class="bg-neutral-100 italic line-through border-none text-neutral-400 w-full">
            </div>
            <div (click)="deleteTask(index)">
                <svg 
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="w-6 h-6 stroke-yellow-600 -translate-y-0 translate-x-1 cursor-pointer"
                >
                    <path 
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                </svg>
            </div>
        </li>
    </ul>
    <div *ngIf="!tasks.length" class="flex flex-col gap-12 items-center justify-center p-12">
        <img src="assets/empty-list.svg" alt="Imagem simbolizando que não existem tarefas" class="max-w-[136px]">
        <h2 class="text-xl text-neutral-500 translate-x-2 text-center">Nenhuma tarefa encontrada</h2>
    </div>
</div>
<app-todo-input-add-items (emitTaskEvent)="addTask($event)"></app-todo-input-add-items>
<app-todo-button-delete-all (click)="toggleDeleteModal()"></app-todo-button-delete-all>

<div *ngIf="openDialog" class="flex justify-center items-center h-screen w-screen bg-neutral-900/70 fixed top-0 left-0">
    <dialog open class="p-12 max-w-lg gap-16 flex flex-col justify-between shadow-2xl rounded-md">
        <p class="text-3xl font-semibold text-neutral-700">Você tem certeza de que deseja excluir todas as suas tarefas?</p>
        <div class="flex gap-4">
          <button (click)="deleteAllTasks(true)" class="py-4 font-semibold px-10 bg-yellow-300 hover:bg-yellow-400 transition">Sim</button>
          <button (click)="deleteAllTasks(false)" class="py-4 font-semibold px-10 bg-neutral-100 hover:bg-neutral-200 transition">Não</button>
        </div>
    </dialog>
</div>
